# PHPStan configuration file.
#
# minimum version: ^1.10.0
#
# @see https://phpstan.org/config-reference
parameters:
    level: 9
    phpVersion: 80200
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: .tools/phpstan
    paths:
        - src/
        # - tests/
    excludePaths:
        - .git
        - .tools
        - vendor
    ignoreErrors:
        - '#^Static method TBali[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) is unused.$#'
        - '#^Method TBali[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) is unused.$#'
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
