# PHPStan configuration file.
#
# minimum version: ^2.0.3
#
# @see https://phpstan.org/config-reference
parameters:
    level: max
    phpVersion: 80400
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: .tools/phpstan
    paths:
        - src/
        # - tests/
    excludePaths:
        - .git
        - .tools
        - .vscode (?)
        - vendor
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
