# PHPStan configuration file.
#
# minimum version: ^1.9.0
#
# @see https://phpstan.org/config-reference
parameters:
    level: 9
    phpVersion: 80200
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: .tools/phpstan
    paths:
        - src/
        # - tests/
    excludePaths:
        - .git
        - .tools
        - vendor
