# PHPStan configuration file.
#
# minimum version: ^1.11
#
# @see https://phpstan.org/config-reference
parameters:
    level: 9
    phpVersion: 80300
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: .tools/phpstan
    paths:
        - src/
        # - tests/
    excludePaths:
        - .git
        - .tools
        - vendor
    ignoreErrors:
        -
          message: '#^(Static )?[Mm]ethod TBali[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) is unused.$#'
          identifier: method.unused
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
