<?xml version="1.0"?>
<!--
PHPUnit configuration file.

minimum version: ^10.5

@see https://phpunit.readthedocs.io/en/10.5/configuration.html
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".tools/.phpunit.cache/"
    colors="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    failOnRisky="true"
    failOnWarning="true"
    enforceTimeLimit="false"
    defaultTimeLimit="5"
    timeoutForSmallTests="5"
    timeoutForMediumTests="60"
    timeoutForLargeTests="600"
    requireCoverageMetadata="true"
    testdox="false"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/other</directory>
            <file>src/aoc.php</file>
            <file>src/run_class.php</file>
            <file>src/Aoc2024Day00.php</file>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Aoc2015">
            <file>tests/Aoc2015Test.php</file>
        </testsuite>
        <testsuite name="Aoc2016">
            <file>tests/Aoc2016Test.php</file>
        </testsuite>
        <testsuite name="Aoc2017">
            <file>tests/Aoc2017Test.php</file>
        </testsuite>
        <testsuite name="Aoc2018">
            <file>tests/Aoc2018Test.php</file>
        </testsuite>
        <testsuite name="Aoc2019">
            <file>tests/Aoc2019Test.php</file>
        </testsuite>
        <testsuite name="Aoc2020">
            <file>tests/Aoc2020Test.php</file>
        </testsuite>
        <testsuite name="Aoc2021">
            <file>tests/Aoc2021Test.php</file>
        </testsuite>
        <testsuite name="Aoc2022">
            <file>tests/Aoc2022Test.php</file>
        </testsuite>
        <testsuite name="Aoc2023">
            <file>tests/Aoc2023Test.php</file>
        </testsuite>
    </testsuites>
    <coverage
        disableCodeCoverageIgnore="false"
        ignoreDeprecatedCodeUnits="true"
        includeUncoveredFiles="true"
        pathCoverage="false">
        <report>
            <html outputDirectory=".tools/phpunit-coverage" lowUpperBound="50" highLowerBound="90" />
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true" />
        </report>
    </coverage>
    <logging>
        <junit outputFile=".tools/phpunit-junit.xml" />
    </logging>
    <groups>
        <exclude>
            <group>medium</group>
            <group>large</group>
        </exclude>
    </groups>
</phpunit>
